.navbar, .mobileMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100%;
}

.navbar .contact,
.navbar .info,
.navbar .left,
.navbar .right,
.navbar .social {
  display: flex;
  align-items: flex-end;
}

.navbar.bottom {
  bottom: 0;
}

.navbar.top {
  top: 0;
}

/* Mobile Menu*/
.mobileMenu.hideMobileMenu {
  pointer-events: none;
  opacity: 0;
}

.mobileMenu.showMobileMenu {
  pointer-events: all;
  opacity: 1;
}

.mobileMenu.showMobileMenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  bottom: auto;
  width: 100%;
  padding: 5vw 30px 0;
  transition: opacity 0.5s 0s;
}

.mobileMenu.showMobileMenu .info {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15vh 0px 10vh;
  background-color: rgba(0, 0, 0, 0.98);
}

.mobileMenu.showMobileMenu .left,
.mobileMenu.showMobileMenu .right,
.mobileMenu.showMobileMenu .contact {
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}

.mobileMenu.showMobileMenu .right {
  width: 100%;
}

.mobileMenu.showMobileMenu .links {
  width: 50%;
}

.mobileMenu.showMobileMenu .contact ul,
.mobileMenu.showMobileMenu .social ul {
  width: 100%;
}

.mobileMenu.showMobileMenu .contact ul {
  margin-right: 0;
  margin-bottom: 5vw;
}

.mobileMenu.showMobileMenu .social {
  width: 50%;
}

.mobileMenu.showMobileMenu .info .links button.link,
.mobileMenu.showMobileMenu .info .social a {
  display: block;
  padding-top: 5vw;
}

.navbar.top .contact,
.navbar.top .info,
.navbar.top .left,
.navbar.top .right,
.navbar.top .social {
  align-items: flex-start;
}

.navbar .info {
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  padding: 2.5vh 60px 5vh;
  
  transition: opacity 0.2s ease-in-out;
}

@media only screen and (max-width: 897px) {
  .navbar .info {
    padding: 2.5vh 0 5vh;
  }
}

.blinking-cursor:after {
  content: "|";
  animation: blink 1.2s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar ul, .mobileMenu ul {
  list-style: none;
}

.navbar ul,
button.link,
.social-link,
.mobileMenu ul {
  color: #f2f2f2;
  text-align: left;
}

.navbar ul li,
.navbar button.link,
.mobileMenu.showMobileMenu ul li,
.mobileMenu.showMobileMenu .info .links button.link,
.social-link {
  font-family: Poppins-Regular;
  font-size: 1em;
}

.navbar ul .name {
  font-family: Poppins-ExtraBold;
  letter-spacing: 0.45rem;
}

.link span {
  font-size: 0.75em;
}

button.link {
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.social-link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.locationemail.inactive, .links.inactive, .social.inactive {
  display: none;
}

/* ABOUT SECTION */
.hideAbout {
  pointer-events: none;
  opacity: 0;
}

.showAbout {
  pointer-events: all;
  opacity: 1;
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 0.5s 0s;
  background-color: rgba(0, 0, 0, 0.95);
}

@media only screen and (max-width: 897px) {
  .about {
    z-index: 3;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #f2f2f2;
}

.about .heading {
  font-family: Roboto-Medium;
}

.about .left p {
  font-family: Roboto-Regular;
}

.about .right h6 {
  font-family: Roboto-Regular;
  font-size: 17px;
}

.about .right p {
  font-size: 17px;
  font-family: Roboto-Light;
}

@media only screen and (min-width: 897px) {
  .about .container {
    padding-top: 32vh;
  }

  .about .left {
    width: 55%;
    text-align: left;
    padding-left: 24vw;
    padding-right: 1vw;
    line-height: 1.2em;
  }

  .about .right {
    width: 45%;
    text-align: left;
    padding-right: 24vw;
    padding-left: 1vw;
  }

  .about .heading {
    padding-bottom: 5px;
    font-size: 27px;
  }

  .about .left p {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 19px;
  }

  .about .right h6 {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .about .right p {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .about .right .school-para {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 897px) {
  .about .container {
    flex-direction: column;
    align-items: left;
    margin-left: 11vw;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about .left,
  .about .right {
    width: 65%;
    text-align: left;
  }

  .about .heading {
    font-size: 24px;
    padding-bottom: 5px;
  }

  .about .left p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .about .right h6 {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .about .right p {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .about .left .intro-2 {
    padding-bottom: 70px;
  }

  .about .right .school-para {
    padding-bottom: 70px;
  }
}

.back-button,
.page-back-button {
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 1;
  margin: 0;
  overflow: hidden;
  text-transform: none;
  /* transform: translateX(120px); */
  transition: transform 1s cubic-bezier(0.23, 2, 0.32, 1);

  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 897px) {
  .back-button,
  .page-back-button {
    top: 3.3vh;
    right: 2.5vw;
  }
}

.button-box {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
}

.icon-close {
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.icon-close:before,
.icon-close:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.icon-close:before {
  transform: rotate(45deg);
}

.icon-close:after {
  transform: rotate(-45deg);
}

.mobile-nav {
  pointer-events: none;
  opacity: 0;

  border: 0;
  padding: 0;
  overflow: visible;
  background-color: transparent;
  text-transform: none;
  outline: none;
  cursor: pointer;

  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 1;
}

@media only screen and (max-width: 897px) {
  .mobile-nav {
    top: 3.3vh;
    right: 2.5vw;
  }
}

.mobile-nav.active {
  pointer-events: all;
  opacity: 1;
}

.mobile-nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;

  /* transition: 0.5s; */
}

.mobile-nav-inner {
  display: block;
  position: relative;
}

.mobile-nav-inner::before,
.mobile-nav-inner::after {
  content: '';
  display: block;

  transition: 0.2s;
}

.mobile-nav-inner,
.mobile-nav-inner::before,
.mobile-nav-inner::after {
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #f2f2f2;
}

.mobile-nav-inner::before {
  top: -7px;
}

.mobile-nav-inner::after {
  bottom: -7px;
}

.mobile-nav-inner.arrow::before {
  transform: rotate(-35deg);
  width: 16px;
  top: -4.5px;
  left: -1px;
}

.mobile-nav-inner.arrow::after {
  transform: rotate(35deg);
  width: 16px;
  bottom: -4.5px;
  left: -1px;
}